 <!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>Welcome to Blocmetrics <%= @user.email %></h1>
     <p>Want to know more stuff than anyone else? Us too.</p>

     <p>
       <%= link_to "Lets get this party started", new_user_session_url %>
     </p>
   </body>
 </html>