 <br>
 <div class="jumbotron">
   <h1>Blocmetrics</h1>
   <p>Creating Know-it-alls like it's our JOB</p>
 </div>

<!-- replace w/ bookmarksa and likes -->
 <div class="row">
   <div class="col-md-6">
     <h2>Who's been checking out your site?</h2>
     <p>I Know, do you know?</p>
   </div>
   <div class="col-md-6">
     <h2>And who hasn't been?</h2>
     <p>What is their problem anyway?</p>
   </div>

 </div>